p{
    margin: 20px;
}
label, input,textarea, p, h1, h4{
    margin: 0px;
    padding: 0px;
    color: #352b2b;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
    text-decoration: none;
}

h1{
    font-weight: 800;
}

body {
    background-image: url(../img/lightveneer.png);
}
.head{
    background-color: lightgray;
    margin-bottom: 50px;
}
.heading {
    display: flex;
}
.mainHeading, .searchItem{
    margin: auto;
}

.searchSection{
    background-color: lightgray;
    padding: 10px;  
    border-radius: 25px;
}

.searchContainer{
    margin-bottom: 0.5rem!important;
    /* max-width: 350px;*/
} 

/* .searchHistory > p{
    display: flex;    
}  */

.searchSection{
    max-width: 350px;
    margin: 10px auto;
}

.displaySection{
    background-color: lightgray;
    padding: 10px;  
    border-radius: 25px;
}

.currentWeather{
    margin: 50px;
}
.mainForcastDiv{
    margin: 50px 5px;
}
.weatherInfo{
    padding: 10px;
}

@media(min-width: 560px){
    .forcastDiv{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.forcastDateDiv{    
    border-radius: 20px;
    background-color: lightskyblue;
    margin: 10px auto;
    min-width: 130px !important;
}

img{
    margin: 10px auto;
    display: block;
}